version: '3'

networks:
  proxy:
    name: proxy
    external: true

volumes:
  sonarr-config:
    driver: local
    driver_opts:
      type: none
      o: bind
      device: ${DOCKER_ROOT}/sonarr/config
  sonarr-series-dir:
    driver: local
    driver_opts:
      type: none
      o: bind
      device: ${STORAGE_ROOT}/video/series
  sonarr-downloads-dir:
    driver: local
    driver_opts:
      type: ${DOWNLOADS_DRIVER_OPT_TYPE}
      o: ${DOWNLOADS_DRIVER_OPT_O}
      device: ${DOWNLOADS_PATH}

services:
  sonarr:
    container_name: sonarr
    image: ghcr.io/linuxserver/sonarr:latest
    security_opt:
      - no-new-privileges:true
    environment:
      - PUID=${PUID}
      - PGID=${PGID}
      - TZ=Europe/Amsterdam
      - UMASK_SET=022 #optional
    volumes:
      - sonarr-config:/config
      - sonarr-series-dir:/tv
      - sonarr-downloads-dir:/downloads
      - ./scripts:/scripts
      - /etc/localtime:/etc/localtime:ro
    labels:
      - traefik.enable=true
      - traefik.http.routers.sonarr.entrypoints=http
      - traefik.http.routers.sonarr.rule=Host(`${SUBDOMAIN}.${DOMAIN}`)
      - traefik.http.routers.sonarr-secure.entrypoints=https
      - traefik.http.routers.sonarr-secure.rule=Host(`${SUBDOMAIN}.${DOMAIN}`)
      - traefik.http.routers.sonarr-secure.tls=true
      - traefik.http.routers.sonarr-secure.tls.certresolver=le-dns
      - traefik.http.routers.sonarr-secure.service=sonarr
      - traefik.http.routers.sonarr-secure.middlewares=https_redirect@docker,non_www@docker,sec_headers@docker,gzip_compress@docker
      - traefik.http.services.sonarr.loadbalancer.server.port=8989
    networks:
      - proxy
    restart: unless-stopped
