DOMAIN=privacy.box
SUBDOMAIN=manga
CERT_RESOLVER=cloudflare-dns

DOCKER_ROOT=/media/storage/docker

TIMEZONE=Europe/Amsterdam

PUID=1000
PGID=1000

# Valid example for library on local storage
MEDIA_DRIVER_OPT_TYPE=none
MEDIA_DRIVER_OPT_O=bind

MANGA_PATH="/media/storage/books/manga"
# COMICS_PATH="/media/storage/books/comics"
