version: '3.7'

networks:
  proxy:
    external: 
      name: proxy
  internal:
    internal: true

volumes:
  # NOTE: It's very important that both user and group are set 
  # to 1500 for these mounts to work properly
  invoiceninja-public:
    driver: local
    driver_opts:
      type: none
      o: bind
      device: ${STORAGE_ROOT}/docker/invoiceninja/public

  invoiceninja-storage:
    driver: local
    driver_opts:
      type: none
      o: bind
      device: ${STORAGE_ROOT}/docker/invoiceninja/storage

  invoiceninja-database:
    driver: local
    driver_opts:
      type: none
      o: bind
      device: ${STORAGE_ROOT}/docker/invoiceninja/database

services:
  invoiceninja-db:
    container_name: invoiceninja-db
    image: mariadb:latest
    security_opt:
      - no-new-privileges:true
    networks:
      - internal
    command: --transaction-isolation=READ-COMMITTED --binlog-format=ROW
    environment:
      - MYSQL_ROOT_PASSWORD=${DB_ROOT_PASS}
      - MYSQL_DATABASE=ninja
      - MYSQL_USER=ninja
      - MYSQL_PASSWORD=${DB_USER_PASS}
    volumes:
      # - invoiceninja-database:/var/lib/mysql:rw,delegated
      - invoiceninja-database:/var/lib/mysql
      - /etc/localtime:/etc/localtime:ro
    labels:
      - "traefik.enable=false"
    healthcheck:
      test: [ "CMD", "mysqladmin" ,"ping", "-h", "localhost" ]
      timeout: 20s
      interval: 15s
      retries: 30
    restart: unless-stopped

  invoiceninja-app:
    container_name: invoiceninja-app
    image: invoiceninja/invoiceninja:5
    security_opt:
      - no-new-privileges:true
    cap_add:
      - SYS_ADMIN
    environment: 
      - REQUIRE_HTTPS=true
      - TRUSTED_PROXIES="*"
      - APP_URL=https://${SUBDOMAIN}.${DOMAIN}
      - APP_KEY=${APP_KEY}
      - APP_DEBUG=true
      - MULTI_DB_ENABLED=false
      - DB_HOST1=invoiceninja-db
      - DB_USERNAME1=ninja
      - DB_PASSWORD1=${DB_USER_PASS}
      - DB_DATABASE1=ninja
      - PHANTOMJS_PDF_GENERATION=false
      - SNAPPDF_EXECUTABLE_PATH="/usr/bin/chromium-browser"
    volumes:
      - invoiceninja-public:/var/www/app/public
      - invoiceninja-storage:/var/www/app/storage
      - /etc/localtime:/etc/localtime:ro
    depends_on:
      - invoiceninja-db
    networks: 
      - internal
    restart: unless-stopped

  invoiceninja-nginx:
    container_name: invoiceninja-nginx
    image: nginx:alpine
    security_opt:
      - no-new-privileges:true
    depends_on:
      - invoiceninja-app
    networks:
      - internal
      - proxy
    volumes:
      - invoiceninja-public:/var/www/app/public
      - invoiceninja-storage:/var/www/app/storage
      - ./nginx/nginx.conf:/etc/nginx/conf.d/in-vhost.conf:ro
      - /etc/localtime:/etc/localtime:ro
    labels:
      - "traefik.enable=true"
      - "traefik.http.routers.invoiceninja-nginx.entrypoints=http"
      - "traefik.http.routers.invoiceninja-nginx.rule=Host(`${SUBDOMAIN}.${DOMAIN}`)"
      - "traefik.http.routers.invoiceninja-nginx.middlewares=secured@file"
      - "traefik.http.routers.invoiceninja-nginx-secure.entrypoints=https"
      - "traefik.http.routers.invoiceninja-nginx-secure.rule=Host(`${SUBDOMAIN}.${DOMAIN}`)"
      - "traefik.http.routers.invoiceninja-nginx-secure.tls=true"
      - "traefik.http.routers.invoiceninja-nginx-secure.tls.certresolver=le-dns"
      - "traefik.http.routers.invoiceninja-nginx-secure.service=invoiceninja-nginx"
      - "traefik.http.services.invoiceninja-nginx.loadbalancer.server.port=80"
    restart: unless-stopped