*.env
*.key
*.bak
acme.json
apps/traefik/data/traefik.yml
apps/traefik/data/config.yml
apps/ghost/deployments
apps/nginx-static/deployments
apps/wordpress/deployments
**/update-jellyfin.sh
**/redis
logs
logs/privacybox.log
vpnlog.txt
privacybox.config
