*.env
*.env.production
*.key
*.bak
*.tar.gz
acme.json
apps/traefik/data/traefik.yml
apps/traefik/data/config.yml
apps/traefik/data/traefik.yaml
apps/traefik/data/config.yaml
apps/ghost/deployments
apps/nginx-static/deployments
apps/wordpress/deployments
apps/matrix-synapse/well-known
apps/bluesky-pds/admin-tools
apps/lemmy/lemmy.hjson
apps/synapse/element-call-config.json
**/update-jellyfin.sh
**/redis
logs
logs/privacybox.log
vpnlog.txt
privacybox.config
.vscode
.zed
