# Example of deployment configuration

# Array of all apps running on this system
DEPLOYED_APPS=( baikal bitwarden cryptofolio drawio flame freshrss ghost gitea glances homeassistant invidious matrix-synapse pihole portainer searx standardnotes statping syncthing traefik wallabag wireguard )

# Array of apps running on this system behind a VPN and require a killswitch 
KILLSWITCH_APPS=( transmission nzbget sonarr radarr lidarr readarr spotweb prowlarr )