# Example of deployment configuration

#######################
## STORAGE LOCATIONS ##
#######################
DOCKER_ROOT=/media/storage/docker
STORAGE_ROOT=/media/storage

##################################
## APPS DEPLOYED ON THIS SYSTEM ##
##################################
# List of all apps running on this system
DEPLOYED_APPS=traefik, portainer-agent, expressvpn, transmission, nzbget, sonarr, radarr, lidarr, readarr, spotweb, prowlarr, jellyfin, syncthing, baikal, navidrome, pigallery2

# List of apps running on this system behind a VPN and require a killswitch 
VPN_PROTECTED=transmission, nzbget, prowlarr, sonarr, radarr, lidarr, readarr, spotweb

# List of apps capable of running VPN checks against (e.g. containers with curl installed)
VPN_CHECKS=transmission, expressvpn, sonarr, radarr

####################
## BACKUPS CONFIG ##
####################
BACKUP_ROOT=/media/storage/backups

# Relative to the DOCKER_ROOT path (will be prefixed)
EXCLUDE_PATHS=photoprism/data/albums photoprism/data/cache photoprism/data/serial photoprism/data/sidecar pigallery/temp jellyfin jellyfinBAK
