version: '3'

networks:
  proxy:
    name: proxy
    external: true

volumes:
  airsonic-config:
    driver: local
    driver_opts:
      type: none
      o: bind
      device: ${DOCKER_ROOT}/airsonic/config
  airsonic-music:
    driver: local
    driver_opts:
      type: ${MEDIA_DRIVER_OPT_TYPE}
      o: ${MEDIA_DRIVER_OPT_O}
      device: ${MUSIC_PATH}
  airsonic-playlists:
    driver: local
    driver_opts:
      type: ${MEDIA_DRIVER_OPT_TYPE}
      o: ${MEDIA_DRIVER_OPT_O}
      device: ${PLAYLISTS_PATH}
  airsonic-podcasts:
    driver: local
    driver_opts:
      type: ${MEDIA_DRIVER_OPT_TYPE}
      o: ${MEDIA_DRIVER_OPT_O}
      device: ${PODCASTS_PATH}

services:
  airsonic-app:
    container_name: airsonic-app
    image: ghcr.io/linuxserver/airsonic
    security_opt:
      - no-new-privileges:true
    environment:
      - PUID=${PUID}
      - PGID=${PGID}
      - TZ=Europe/Amsterdam
      # - CONTEXT_PATH=${SUBDOMAIN}.${DOMAIN} #optional
      # - JAVA_OPTS=<options> #optional
    volumes:
      - airsonic-config:/config
      - airsonic-music:/music:${MUSIC_DIR_PERMISSION}
      - airsonic-playlists:/playlists
      - airsonic-podcasts:/podcasts:${PODCAST_DIR_PERMISSION}
      - /etc/localtime:/etc/localtime:ro
    # devices:
    #   - /dev/snd:/dev/snd #optional
    labels:
      - traefik.enable=true
      - traefik.http.routers.airsonic-secure.entrypoints=websecure
      - traefik.http.routers.airsonic-secure.rule=Host(`${SUBDOMAIN}.${DOMAIN}`)
      - traefik.http.routers.airsonic-secure.tls=true
      - traefik.http.routers.airsonic-secure.tls.certresolver=le-dns
      - traefik.http.routers.airsonic-secure.service=airsonic
      - traefik.http.routers.airsonic-secure.middlewares=https-redirect@file,non-www@file,secure-headers@file,gzip-compress@file
      - traefik.http.services.airsonic.loadbalancer.server.port=4040
    networks:
      - proxy
    restart: unless-stopped