name: jellyfin

networks:
  proxy:
    name: proxy
    external: true

volumes:
  jellyfin-config:
    driver: local
    driver_opts:
      type: none
      o: bind
      device: ${DOCKER_ROOT}/jellyfin/config
  jellyfin-series-dir:
    driver: local
    driver_opts:
      type: ${MEDIA_DRIVER_OPT_TYPE}
      o: ${MEDIA_DRIVER_OPT_O}
      device: ${SERIES_PATH}
  jellyfin-movies-dir:
    driver: local
    driver_opts:
      type: ${MEDIA_DRIVER_OPT_TYPE}
      o: ${MEDIA_DRIVER_OPT_O}
      device: ${MOVIES_PATH}
  # jellyfin-music-dir:
  #   driver: local
  #   driver_opts:
  #     type: ${MEDIA_DRIVER_OPT_TYPE}
  #     o: ${MEDIA_DRIVER_OPT_O}
  #     device: ${MUSIC_PATH}

services:
  jellyfin-app:
    container_name: jellyfin-app
    image: ghcr.io/linuxserver/jellyfin:latest
    security_opt:
      - no-new-privileges:true
    environment:
      - PUID=${PUID}
      - PGID=${PGID}
      - TZ=Europe/Amsterdam
      - JELLYFIN_PublishedServerUrl=https://${SUBDOMAIN}.${DOMAIN}
      # # Enable Intel Arc OpenCL drivers for HDR Tone Mapping
      # - DOCKER_MODS=linuxserver/mods:jellyfin-opencl-intel
      # # Force use of Level Zero driver for Arc
      # - ONEAPI_DEVICE_SELECTOR=level_zero:0
    volumes:
      - jellyfin-config:/config
      - jellyfin-series-dir:/data/tvshows
      - jellyfin-movies-dir:/data/movies
      # - jellyfin-music-dir:/data/music
      - /etc/localtime:/etc/localtime:ro
    networks:
      - proxy
    ports:
      - 7359:7359/udp #optional
      # - 1900:1900/udp #optional
    labels:
      - traefik.enable=true
      - traefik.http.routers.jellyfin-app-secure.entrypoints=websecure
      - traefik.http.routers.jellyfin-app-secure.rule=Host(`${SUBDOMAIN}.${DOMAIN}`)
      - traefik.http.routers.jellyfin-app-secure.tls=true
      - traefik.http.routers.jellyfin-app-secure.tls.certresolver=${CERT_RESOLVER}
      - traefik.http.routers.jellyfin-app-secure.service=jellyfin-app
      - traefik.http.routers.jellyfin-app-secure.middlewares=https-redirect@file,non-www@file,secure-headers@file,gzip-compress@file
      - traefik.http.services.jellyfin-app.loadbalancer.server.port=8096
    # # Optional GPU devices for HW Acceleration
    # devices:
    #   - /dev/dri:/dev/dri
    restart: unless-stopped
