name: jellyfin

volumes:
  jellyfin-config:
    driver: local
    driver_opts:
      type: none
      o: bind
      device: ${DOCKER_ROOT}/jellyfin/config
  jellyfin-series-dir:
    driver: local
    driver_opts:
      type: ${MEDIA_DRIVER_OPT_TYPE}
      o: ${MEDIA_DRIVER_OPT_O}
      device: ${SERIES_PATH}
  jellyfin-movies-dir:
    driver: local
    driver_opts:
      type: ${MEDIA_DRIVER_OPT_TYPE}
      o: ${MEDIA_DRIVER_OPT_O}
      device: ${MOVIES_PATH}
  # jellyfin-music-dir:
  #   driver: local
  #   driver_opts:
  #     type: ${MEDIA_DRIVER_OPT_TYPE}
  #     o: ${MEDIA_DRIVER_OPT_O}
  #     device: ${MUSIC_PATH}

services:
  jellyfin-app:
    container_name: jellyfin-app
    image: ghcr.io/linuxserver/jellyfin:latest
    security_opt:
      - no-new-privileges:true
    environment:
      - PUID=${PUID}
      - PGID=${PGID}
      - TZ=Europe/Amsterdam
      - JELLYFIN_PublishedServerUrl=https://${SUBDOMAIN}.${DOMAIN}
    volumes:
      - jellyfin-config:/config
      - jellyfin-series-dir:/data/tvshows
      - jellyfin-movies-dir:/data/movies
      # - jellyfin-music-dir:/data/music
      - /etc/localtime:/etc/localtime:ro
    networks:
      - proxy
    ports:
      - 8096:8096
      - 7359:7359/udp #optional
      # - 1900:1900/udp #optional
    # Optional devices for HW Acceleration
    devices:
      - /dev/dri:/dev/dri
    restart: unless-stopped
