TZ=Europe/Amsterdam
PUID=1000
PGID=1000

MEMORY_LIMIT=256M
UPLOAD_MAX_SIZE=16M
OPCACHE_MEM_SIZE=128
REAL_IP_FROM=0.0.0.0/32
REAL_IP_HEADER=X-Forwarded-For
LOG_IP_VAR=remote_addr

APP_KEY=
APP_DEBUG=false
APP_URL=http://127.0.0.1:8000

ANONADDY_RETURN_PATH=bounces@privacy.box
ANONADDY_ADMIN_USERNAME=addy
ANONADDY_ENABLE_REGISTRATION=true
ANONADDY_DOMAIN=privacy.box
ANONADDY_ALL_DOMAINS=example.com
ANONADDY_HOSTNAME=mail.privacy.box
ANONADDY_DNS_RESOLVER=127.0.0.1
ANONADDY_SECRET=
ANONADDY_LIMIT=200
ANONADDY_BANDWIDTH_LIMIT=104857600
ANONADDY_NEW_ALIAS_LIMIT=10
ANONADDY_ADDITIONAL_USERNAME_LIMIT=3

SANCTUM_STATEFUL_DOMAINS=localhost,localhost:3000,127.0.0.1,127.0.0.1:8000,::1,10.10.10.6,privacy.box,privacy.box:443

MAIL_FROM_NAME=addy.io
MAIL_FROM_ADDRESS=addy@privacy.box

POSTFIX_DEBUG=false
# POSTFIX_SMTPD_TLS=false
# POSTFIX_SMTP_TLS=false

POSTFIX_INET_PROTOCOLS=ipv4
POSTFIX_RELAYHOST=smtp.privacy.box:587
POSTFIX_RELAYHOST_AUTH_ENABLE=true
POSTFIX_RELAYHOST_USERNAME=privacybox@privacy.box
POSTFIX_RELAYHOST_PASSWORD=secret
POSTFIX_SMTP_TLS=true
