name: flaresolverr

networks:
  proxy:
    name: proxy
    external: true

services:
  flaresolverr:
    container_name: flaresolverr
    image: ghcr.io/flaresolverr/flaresolverr:latest
    security_opt:
      - no-new-privileges:true
    environment:
      - LOG_LEVEL=${LOG_LEVEL:-info}
      - LOG_HTML=${LOG_HTML:-false}
      - CAPTCHA_SOLVER=${CAPTCHA_SOLVER:-none}
      - TZ=${TIMEZONE}
    volumes:
      - /etc/localtime:/etc/localtime:ro
    labels:
      - traefik.enable=true
      - traefik.http.routers.flaresolverr-secure.entrypoints=websecure
      - traefik.http.routers.flaresolverr-secure.rule=Host(`${SUBDOMAIN}.${DOMAIN}`)
      - traefik.http.routers.flaresolverr-secure.tls=true
      - traefik.http.routers.flaresolverr-secure.tls.certresolver=${CERT_RESOLVER}
      - traefik.http.routers.flaresolverr-secure.service=flaresolverr
      - traefik.http.routers.flaresolverr-secure.middlewares=https-redirect@file,non-www@file,secure-headers@file,gzip-compress@file
      - traefik.http.services.flaresolverr.loadbalancer.server.port=8191
    networks:
      - proxy
    restart: unless-stopped
