DOMAIN=privacy.box
SUBDOMAIN=matrix
CERT_RESOLVER=transip-dns

PUID=1000
PGID=1000
TIMEZONE=Europe/Amsterdam

DB_USER_PASS=secret

# A way to generate easily: openssl rand -hex 32
TURN_SECRET=secret

DOCKER_ROOT=/media/storage/docker