version: "3.3"

networks:
  proxy:
    name: proxy
    external: true
  internal:
    internal: true

volumes:
  nextcloud:
  nextcloud-config:
    driver: local
    driver_opts:
      type: none
      o: bind
      device: ${DOCKER_ROOT}/nextcloud/config
  nextcloud-custom-apps:
    driver: local
    driver_opts:
      type: none
      o: bind
      device: ${DOCKER_ROOT}/nextcloud/apps
  nextcloud-data:
    driver: local
    driver_opts:
      type: none
      o: bind
      device: ${STORAGE_ROOT}/nextcloud-data
  nextcloud-db:
    driver: local
    driver_opts:
      type: none
      o: bind
      device: ${DOCKER_ROOT}/nextcloud/database/
 
services:
  nextcloud-db:
    container_name: nextcloud-db
    image: mariadb:latest
    security_opt:
      - no-new-privileges:true
    networks:
      - internal
    command: --transaction-isolation=READ-COMMITTED --binlog-format=ROW --skip-innodb-read-only-compressed
    environment:
      - MYSQL_ROOT_PASSWORD=${DB_ROOT_PASS}
      - MYSQL_DATABASE=nextcloud
      - MYSQL_USER=nextcloud
      - MYSQL_PASSWORD=${DB_USER_PASS}
    volumes:
      - nextcloud-db:/var/lib/mysql
      - /etc/localtime:/etc/localtime:ro
    labels:
      - "traefik.enable=false"
    healthcheck:
      test: [ "CMD", "mysqladmin" ,"ping", "-h", "localhost" ]
      timeout: 20s
      interval: 15s
      retries: 30
    restart: unless-stopped

  nextcloud-fpm:
    container_name: nextcloud-fpm
    image: nextcloud:fpm-alpine
    security_opt:
      - no-new-privileges:true
    depends_on:
      - nextcloud-db
      - nextcloud-redis
    networks:
      - internal
    environment:
      - MYSQL_HOST=nextcloud-db
      - MYSQL_PASSWORD=${DB_USER_PASS}
      - MYSQL_DATABASE=nextcloud
      - MYSQL_USER=nextcloud
      - REDIS_HOST=nextcloud-redis
      - NEXTCLOUD_TRUSTED_DOMAINS=${SUBDOMAIN}.${DOMAIN}
    volumes:
      - nextcloud:/var/www/html
      - nextcloud-custom-apps:/var/www/html/custom_apps
      - nextcloud-config:/var/www/html/config
      - nextcloud-data:/var/www/html/data
      - /etc/localtime:/etc/localtime:ro
    labels:
      - "traefik.enable=false"
    restart: unless-stopped

  nextcloud-nginx:
    container_name: nextcloud-nginx
    image: nginx:alpine
    security_opt:
      - no-new-privileges:true
    depends_on:
      - nextcloud-fpm
    networks:
      - internal
      - proxy
    volumes:
      - nextcloud:/var/www/html:ro
      - nextcloud-custom-apps:/var/www/html/custom_apps:ro
      - nextcloud-config:/var/www/html/config:ro
      - ./nginx/nginx.conf:/etc/nginx/nginx.conf:ro 
      - /etc/localtime:/etc/localtime:ro
    labels:
      - traefik.enable=true
      - traefik.http.routers.nextcloud-nginx.entrypoints=web
      - traefik.http.routers.nextcloud-nginx.rule=Host(`${SUBDOMAIN}.${DOMAIN}`)
      - traefik.http.routers.nextcloud-nginx-secure.entrypoints=websecure
      - traefik.http.routers.nextcloud-nginx-secure.rule=Host(`${SUBDOMAIN}.${DOMAIN}`)
      - traefik.http.routers.nextcloud-nginx-secure.tls=true
      - traefik.http.routers.nextcloud-nginx-secure.tls.certresolver=le-dns
      - traefik.http.routers.nextcloud-nginx-secure.service=nextcloud-nginx
      - traefik.http.routers.nextcloud-nginx-secure.middlewares=https-redirect@file,non-www@file,secure-headers@file,gzip-compress@file,basic-auth@file,well_known_dav@docker,well_known_finger@docker
      - traefik.http.services.nextcloud-nginx.loadbalancer.server.port=80

      - traefik.http.middlewares.well_known_dav.redirectregex.regex=^(http|https)?://(.*)/.well-known/(card|cal)dav
      - traefik.http.middlewares.well_known_dav.redirectregex.replacement=https://$${1}/remote.php/dav/

      - traefik.http.middlewares.well_known_finger.redirectregex.regex=^(http|https)?://.well-known/(webfinger|nodeinfo)
      - traefik.http.middlewares.well_known_finger.redirectregex.replacement=https://$${1}/index.php$${2}

      - traefik.http.routers.http-catchall.rule=HostRegexp(`{any:.+}`)
      - traefik.http.routers.http-catchall.entrypoints=web
      - traefik.http.routers.http-catchall.middlewares=https-redirect@file
    restart: unless-stopped

  nextcloud-redis:
    container_name: nextcloud-redis
    image: redis:alpine
    security_opt:
      - no-new-privileges:true
    networks: 
      - internal
    volumes:
      - /etc/localtime:/etc/localtime:ro
    labels:
      - "traefik.enable=false"
    restart: unless-stopped

  nextcloud-cron:
    container_name: nextcloud-cron
    image: nextcloud:fpm-alpine
    security_opt:
      - no-new-privileges:true
    depends_on:
      - nextcloud-db
      - nextcloud-redis
    entrypoint: /cron.sh
    networks:
      - internal
    volumes:
      - nextcloud:/var/www/html
      - nextcloud-custom-apps:/var/www/html/custom_apps
      - nextcloud-config:/var/www/html/config
      - nextcloud-data:/data
      - /etc/localtime:/etc/localtime:ro
    labels:
      - "traefik.enable=false"
    restart: unless-stopped
