DOMAIN=privacy.box
SUBDOMAIN=music
CERT_RESOLVER=transip-dns

DOCKER_ROOT=/media/storage/docker

PUID=1000
PGID=1000

# # Valid example for library on local storage
# MEDIA_DRIVER_OPT_TYPE=none
# MEDIA_DRIVER_OPT_O=bind

# # Valid example for local paths
# MUSIC_PATH="/media/storage/audio/music"

# Valid values for library on remote storage (NFS)
MEDIA_DRIVER_OPT_TYPE=nfs4
MEDIA_DRIVER_OPT_O="addr=<NFS_SERVER_IP>,rw"

# Valid example for remote paths
MUSIC_PATH=":/volume1/audio/music"