name: immich

networks:
  proxy:
    name: proxy
    external: true
  internal:
    internal: true

volumes:
  immich-database:
    driver: local
    driver_opts:
      type: none
      o: bind
      device: ${DOCKER_ROOT}/immich/database
  immich-model-cache:
    driver: local
    driver_opts:
      type: none
      o: bind
      device: ${DOCKER_ROOT}/immich/data/model-cache
  immich-uploads:
    driver: local
    driver_opts:
      type: none
      o: bind
      device: ${DOCKER_ROOT}/immich/data/uploads
  immich-stories:
    driver: local
    driver_opts:
      type: ${STORIES_DRIVER_OPT_TYPE}
      o: ${STORIES_DRIVER_OPT_O}
      device: ${STORIES_PATH}

services:
  immich-app:
    container_name: immich-app
    image: ghcr.io/immich-app/immich-server:${IMMICH_VERSION:-release}
    security_opt:
      - no-new-privileges:true
    networks:
      - internal
      - proxy
    labels:
      - traefik.enable=true
      - traefik.http.routers.immich-app-secure.entrypoints=websecure
      - traefik.http.routers.immich-app-secure.rule=Host(`${SUBDOMAIN}.${DOMAIN}`)
      - traefik.http.routers.immich-app-secure.tls=true
      - traefik.http.routers.immich-app-secure.tls.certresolver=${CERT_RESOLVER}
      - traefik.http.routers.immich-app-secure.service=immich-app
      - traefik.http.routers.immich-app-secure.middlewares=https-redirect@file,non-www@file,secure-headers@file,gzip-compress@file
      - traefik.http.services.immich-app.loadbalancer.server.port=2283
    environment:
      DB_HOSTNAME: immich-database
      DB_DATABASE_NAME: immich
      DB_USERNAME: immich
      DB_PASSWORD: ${DB_PASSWORD}
      REDIS_HOSTNAME: immich-redis
    volumes:
      - immich-uploads:/usr/src/app/upload
      - immich-stories:/usr/src/app/stories:ro
      - /etc/localtime:/etc/localtime:ro
    devices:
      - /dev/kfd:/dev/kfd
      - /dev/dri:/dev/dri
    healthcheck:
      disable: false
    env_file:
      - .env
    depends_on:
      - immich-redis
      - immich-database
    restart: unless-stopped

  immich-machine-learning:
    container_name: immich-machine-learning
    # For hardware acceleration, add one of -[armnn, cuda, rocm, openvino, rknn] to the image tag.
    # Example tag: ${IMMICH_VERSION:-release}-cuda
    image: ghcr.io/immich-app/immich-machine-learning:${IMMICH_VERSION:-release}${ML_HARDWARE_ACCELERATOR:+-$ML_HARDWARE_ACCELERATOR}
    security_opt:
      - no-new-privileges:true
    networks:
      - internal
      - proxy
    devices:
      - /dev/kfd:/dev/kfd
      - /dev/dri:/dev/dri
    volumes:
      - immich-model-cache:/cache
      - /etc/localtime:/etc/localtime:ro
    healthcheck:
      disable: false
    env_file:
      - .env
    restart: unless-stopped

  immich-redis:
    container_name: immich-redis
    image: docker.io/valkey/valkey:9@sha256:546304417feac0874c3dd576e0952c6bb8f06bb4093ea0c9ca303c73cf458f63
    security_opt:
      - no-new-privileges:true
    networks:
      - internal
    volumes:
      - /etc/localtime:/etc/localtime:ro
    healthcheck:
      test: redis-cli ping || exit 1
    restart: unless-stopped

  immich-database:
    container_name: immich-postgres
    image: ghcr.io/immich-app/postgres:14-vectorchord0.4.3-pgvectors0.2.0@sha256:bcf63357191b76a916ae5eb93464d65c07511da41e3bf7a8416db519b40b1c23
    security_opt:
      - no-new-privileges:true
    networks:
      - internal
    environment:
      POSTGRES_PASSWORD: ${DB_PASSWORD}
      POSTGRES_USER: immich
      POSTGRES_DB: immich
      POSTGRES_INITDB_ARGS: '--data-checksums'
    volumes:
      - immich-database:/var/lib/postgresql/data
      - /etc/localtime:/etc/localtime:ro
    shm_size: 128mb
    restart: unless-stopped

