DOMAIN=privacy.box
SUBDOMAIN=music

STORAGE_ROOT=/media/storage

PUID=1000
PGID=1000

# # Valid example for library on local storage
# MEDIA_DRIVER_OPT_TYPE=none
# MEDIA_DRIVER_OPT_O=bind

# # Valid example for local paths
# MUSIC_PATH="/media/storage/audio/music"
# PLAYLISTS_PATH="/media/storage/audio/playlists"
# PODCASTS_PATH="/media/storage/audio/podcasts"

# Valid values for library on remote storage (NFS)
MEDIA_DRIVER_OPT_TYPE=nfs4
MEDIA_DRIVER_OPT_O="addr=<NFS_SERVER_IP>,rw"

# Valid example for remote paths
MUSIC_PATH=":/volume1/audio/music"
PLAYLISTS_PATH=":/volume1/audio/playlists"
PODCASTS_PATH=":/volume1/audio/podcasts"

# Allow writes/deletions on your music dir?
# `ro` for read-only `rw` for read-write.
MUSIC_DIR_PERMISSION=ro

# Allow writes/deletions on your podcast dir?
# `ro` for read-only `rw` for read-write.
PODCAST_DIR_PERMISSION=rw