DOMAIN=privacy.box
SUBDOMAIN=romm

DOCKER_ROOT=/media/storage/docker

# Valid example for library on local storage
MEDIA_DRIVER_OPT_TYPE=none
MEDIA_DRIVER_OPT_O=bind

ROMS_PATH="/media/storage/roms"

# # Valid values for library on remote storage (NFS)
# MEDIA_DRIVER_OPT_TYPE=nfs4
# MEDIA_DRIVER_OPT_O="addr=<NFS_SERVER_IP>,rw"

# ROMS_PATH=":/volume1/roms"

DB_NAME=romm
DB_ROOT_PASS=secret
DB_USER_PASS=secret

IGDB_CLIENT_ID=
IGDB_CLIENT_SECRET=
STEAMGRIDDB_API_KEY=