DOMAIN=privacy.box
SUBDOMAIN=laserfeed
CERT_RESOLVER=cloudflare-dns

DOCKER_ROOT=/media/storage/docker

# generate using `openssl rand -base64 32`
CSRF_AUTH_KEY=secret

DB_PASSWORD=secret

APP_BASE_URL=https://laserfeed.privacy.box

# Optional: set to "false" only if running without HTTPS (not recommended for production)
SECURE_COOKIES=true
