version: "3.3"

networks:
  proxy:
    name: proxy
    external: true

services:
  traefik:
    container_name: "traefik"
    image: "traefik:v2.10"
    restart: unless-stopped
    security_opt:
      - no-new-privileges:true
    networks:
      - proxy
    ports:
      - "80:80"
      - "443:443"
    # DNS Challenge only 
    environment:
      - TRANSIP_ACCOUNT_NAME=${TRANSIP_ACCOUNT_NAME}
      - TRANSIP_PRIVATE_KEY_PATH=transip.key
    volumes:
      - /etc/localtime:/etc/localtime:ro
      - /var/run/docker.sock:/var/run/docker.sock:ro
      - ./data/traefik.yml:/traefik.yml:ro
      - ./data/acme.json:/acme.json
      - ./data/config.yml:/config.yml:ro
      - ./data/transip.key:/transip.key:ro # DNS Challenge only
    labels:
      - traefik.enable=true
      - traefik.http.routers.traefik.entrypoints=http
      - traefik.http.routers.traefik.rule=Host(`${SUBDOMAIN}.${DOMAIN}`)
      - traefik.http.routers.traefik-secure.entrypoints=https
      - traefik.http.routers.traefik-secure.rule=Host(`${SUBDOMAIN}.${DOMAIN}`)
      - traefik.http.routers.traefik-secure.middlewares=https_redirect@docker,non_www@docker,sec_headers@docker,gzip_compress@docker,basic_auth@docker
      - traefik.http.routers.traefik-secure.tls=true
      - traefik.http.routers.traefik-secure.tls.certresolver=le-dns
      - traefik.http.routers.traefik-secure.service=api@internal
      - traefik.http.services.traefik.loadbalancer.server.port=8080

      # Global settings from here on
      - traefik.http.routers.http_catchall.rule=HostRegexp(`{any:.+}`) 
      - traefik.http.routers.http_catchall.entrypoints=http 
 
      # SSL Redirect
      - traefik.http.routers.http_catchall.middlewares=https_redirect
      - traefik.http.middlewares.https_redirect.redirectscheme.scheme=https
      - traefik.http.middlewares.https_redirect.redirectscheme.permanent=true  
 
      # WWW Redirect
      - traefik.http.middlewares.non_www.redirectregex.regex=^(http|https)?://(?:www\.)?(.+)
      - traefik.http.middlewares.non_www.redirectregex.replacement=https://$${2} 
      - traefik.http.middlewares.non_www.redirectregex.permanent=true

      # Secure headers
      - traefik.http.middlewares.sec_headers.headers.framedeny=true
      - traefik.http.middlewares.sec_headers.headers.browserxssfilter=true
      - traefik.http.middlewares.sec_headers.headers.stsincludesubdomains=true
      - traefik.http.middlewares.sec_headers.headers.stsseconds=31536000
      - traefik.http.middlewares.sec_headers.headers.stspreload=true
      - traefik.http.middlewares.sec_headers.headers.forcestsheader=true
      - traefik.http.middlewares.sec_headers.headers.customframeoptionsvalue=`SAMEORIGIN`

      # Gzip Compression
      - traefik.http.middlewares.gzip_compress.compress=true

      # Basic Auth

      # Note: all dollar signs in the hash need to be doubled for escaping.
      # To create user:password pair, it's possible to use this command:
      # echo $(htpasswd -nb user password) | sed -e s/\\$/\\$\\$/g
      - "traefik.http.middlewares.basic_auth.basicauth.users=traefik:$$apr1$$zox82cHE$$iUh5Wo6tvbZM9dNcX/vfH/"
