version: '3'

networks:
  proxy:
    name: proxy
    external: true

volumes:
  bitwarden-data:
    driver: local
    driver_opts:
      type: none
      o: bind
      device: ${DOCKER_ROOT}/bitwarden/data

services:
  bitwarden:
    container_name: bitwarden
    image: vaultwarden/server:alpine
    environment:
      - WEBSOCKET_ENABLED=true
      - SIGNUPS_ALLOWED=true
      - DOMAIN=https://${SUBDOMAIN}.${DOMAIN}
    volumes:
      - bitwarden-data:/data
    labels:
      - traefik.enable=true
      - traefik.http.routers.bitwarden-secure.entrypoints=websecure
      - traefik.http.routers.bitwarden-secure.rule=Host(`${SUBDOMAIN}.${DOMAIN}`)
      - traefik.http.routers.bitwarden-secure.tls=true
      - traefik.http.routers.bitwarden-secure.tls.certresolver=le-dns
      - traefik.http.routers.bitwarden-secure.service=bitwarden
      - traefik.http.routers.bitwarden-secure.middlewares=https-redirect@file,non-www@file,secure-headers@file,gzip-compress@file
      - traefik.http.services.bitwarden.loadbalancer.server.port=80
    networks:
      - proxy
    restart: unless-stopped
