version: "3.3"

networks:
  proxy:
    name: proxy
    external: true

volumes:
  prosody-config:
    driver: local
    driver_opts:
      type: none
      o: bind
      device: ${DOCKER_ROOT}/prosody/config
  prosody-logs:
    driver: local
    driver_opts:
      type: none
      o: bind
      device: ${DOCKER_ROOT}/prosody/logs
  prosody-modules:
    driver: local
    driver_opts:
      type: none
      o: bind
      device: ${DOCKER_ROOT}/prosody/modules

services:
  prosody-app:
    container_name: prosody-app
    image: prosody/prosody:latest
    environment:
      - LOCAL=${USERNAME}
      - PASSWORD=${PASSWORD}
      - DOMAIN=${SUBDOMAIN}.${DOMAIN}
    ports:
      - 5222:5222
      - 5269:5269
      - 5347:5347
    volumes:
      - prosody-config:/etc/prosody
      - prosody-logs:/var/log/prosody
      - prosody-modules:/usr/lib/prosody-modules
      - /etc/localtime:/etc/localtime:ro
    labels:
      - traefik.enable=true
      - traefik.http.routers.prosody-app-secure.entrypoints=websecure
      - traefik.http.routers.prosody-app-secure.rule=Host(`${SUBDOMAIN}.${DOMAIN}`)
      - traefik.http.routers.prosody-app-secure.tls=true
      - traefik.http.routers.prosody-app-secure.tls.certresolver=le-dns
      - traefik.http.routers.prosody-app-secure.service=prosody-app
      - traefik.http.routers.prosody-app-secure.middlewares=https-redirect@file,non-www@file,secure-headers@file,gzip-compress@file
      - traefik.http.services.prosody-app.loadbalancer.server.port=5280
    networks:
      - proxy
    restart: unless-stopped