DOMAIN=privacy.box
SUBDOMAIN=music

STORAGE_ROOT=/media/storage

# # Valid example for library on local storage
# MEDIA_DRIVER_OPT_TYPE=none
# MEDIA_DRIVER_OPT_O=bind

# # Valid example for local paths
# MEDIA_PATH="/media/storage/audio"

# Valid values for library on remote storage (NFS)
MEDIA_DRIVER_OPT_TYPE=nfs4
MEDIA_DRIVER_OPT_O="addr=<NFS_SERVER_IP>,rw"

# Valid example for remote paths
MEDIA_PATH=":/volume1/audio"