DOMAIN=privacy.box
SUBDOMAIN=jellyfin

PUID=1000
PGID=1000

STORAGE_ROOT=/media/storage

# # Valid example for library on local storage
# MEDIA_DRIVER_OPT_TYPE=none
# MEDIA_DRIVER_OPT_O=bind

# SERIES_PATH="/media/storage/video/series"
# MOVIES_PATH="/media/storage/video/movies"
# MUSIC_PATH="/media/storage/audio/music"
# BOOKS_PATH="/media/storage/books"

# Valid values for library on remote storage (NFS)
MEDIA_DRIVER_OPT_TYPE=nfs4
MEDIA_DRIVER_OPT_O="addr=<NFS_SERVER_IP>,rw"

SERIES_PATH=":/volume1/video/series"
MOVIES_PATH=":/volume1/video/movies"
MUSIC_PATH=":/volume1/audio/music"
BOOKS_PATH=":/volume1/books"