DOMAIN=privacy.box
SUBDOMAIN=listen

DOCKER_ROOT=/media/storage/docker

# Valid example for library on local storage
MEDIA_DRIVER_OPT_TYPE=none
MEDIA_DRIVER_OPT_O=bind

AUDIOBOOKS_PATH="/media/storage/books/audiobooks"
EBOOKS_PATH="/media/storage/books/books"
PODCASTS_PATH="/media/storage/podcasts"

# # Valid values for library on remote storage (NFS)
# MEDIA_DRIVER_OPT_TYPE=nfs4
# MEDIA_DRIVER_OPT_O="addr=<NFS_SERVER_IP>,rw"
# 
# AUDIOBOOKS_PATH=":/volume1/books/audiobooks"
# EBOOKS_PATH=":/volume1/books/books"
# PODCASTS_PATH=":/volume1/podcasts"