# Configuration file for Synapse.
#
# This is a YAML file: see [1] for a quick introduction. Note in particular
# that *indentation is important*: all the elements of a list or dictionary
# should have the same indentation.
#
# [1] https://docs.ansible.com/ansible/latest/reference_appendices/YAMLSyntax.html
#
# For more information on how to configure Synapse, including a complete accounting of
# each option, go to docs/usage/configuration/config_documentation.md or
# https://matrix-org.github.io/synapse/latest/usage/configuration/config_documentation.html
server_name: "matrix.privacy.box"
pid_file: /data/homeserver.pid
listeners:
  - port: 8008
    tls: false
    type: http
    x_forwarded: true
    resources:
      - names: [client, federation]
        compress: false
database:
  name: 'psycopg2'
  args:
    user: 'synapse'
    password: 'secret'
    host: 'matrix-synapse-db'
    database: 'synapse'
redis:
  host: 'matrix-synapse-redis'
  port: 6379
  db: 0
# enable_registration: true
# enable_registration_without_verification: true
log_config: "/data/matrix.privacy.box.log.config"
media_store_path: /data/media_store
registration_shared_secret: "HaU9tqA*uizdsuOr&gw90=RjUKeg9-XjBtN;58HFTnmq#TC0I+"
report_stats: false
macaroon_secret_key: "*mUX@=jWW2a2&^tjzR9QOv7ebYKNIht&WvQ:VSC=Ky,:wHpBRX"
form_secret: "J.08eu~xO9X4ip~hgQ3ScY-MA9Lkw9;eP^QQ~2g4In~fYt=jnq"
signing_key_path: "/data/matrix.privacy.box.signing.key"
trusted_key_servers:
  - server_name: "matrix.org"
turn_uris: ["turn:matrix.privacy.box:3478?transport=udp", "turn:matrix.privacy.box:3478?transport=tcp"]
turn_shared_secret: "secret"
turn_user_lifetime: "1h"
turn_allow_guests: True