DOMAIN=privacy.box
SUBDOMAIN=lidarr

DOCKER_ROOT=/media/storage/docker

PUID=1000
PGID=1000

# # Valid example for library on local storage
# DOWNLOADS_DRIVER_OPT_TYPE=none
# DOWNLOADS_DRIVER_OPT_O=bind

# # Valid example for local paths
# DOWNLOADS_PATH="/media/storage/downloads"
# MUSIC_PATH="/media/storage/music"

# Valid values for library on remote storage (NFS)
DOWNLOADS_DRIVER_OPT_TYPE=nfs4
DOWNLOADS_DRIVER_OPT_O="addr=<NFS_SERVER_IP>,rw"

# Valid example for remote paths
DOWNLOADS_PATH=":/media/storage/downloads"
MUSIC_PATH=":/media/storage/music"