DOMAIN=privacy.box
SUBDOMAIN=home
CERT_RESOLVER=transip-dns

DOCKER_ROOT=/media/storage/docker

# POSTGRES
POSTGRES_DB=ghostfolio
POSTGRES_USER=ghostfolio
POSTGRES_PASSWORD=secret

# CACHE
REDIS_HOST=ghostfolio-redis
REDIS_PORT=6379
REDIS_PASSWORD=secret

# VARIOUS
ACCESS_TOKEN_SALT=<INSERT_RANDOM_STRING>

DATABASE_URL=postgresql://${POSTGRES_USER}:${POSTGRES_PASSWORD}@ghostfolio-db:5432/${POSTGRES_DB}?connect_timeout=300&sslmode=prefer

JWT_SECRET_KEY=<INSERT_RANDOM_STRING>
