# WARNING! Atypical setup please read pixelfed.md found in the docs folder

INSTANCE_DOMAIN=pixelfed.privacy.box
CERT_RESOLVER=cloudflare-dns

DOCKER_ROOT=/media/storage/docker

DB_ROOT_PASS=secret

TIMEZONE=Europe/Amsterdam

INSTANCE_NAME="Privacybox Pixelfed"
INSTANCE_SUMMARY="Privacybox Pixelfed | Share Securely!"
INSTANCE_CONTACT_MAIL_ADDRESS=john.doe@privacy.box
ALLOW_ACCOUNT_CREATION=true
ALLOW_ACCOUNT_DELETION=false

SMTP_USER=<your_gmail_user>
SMTP_PASS=<your_gmail_pass>
SMTP_HOST=smtp.gmail.com
SMTP_PORT=587
SMTP_FROM_MAIL='john.doe@privacy.box'
SMTP_FROM_NAME='John Doe'

# Run `cat .privacybox.env .pixelfed.docker.env > .env`