DOMAIN=privacy.box
SUBDOMAIN=gost
CERT_RESOLVER=cloudflare-dns

DOCKER_ROOT=/media/storage/docker

PROXY_PORT=8080

PROXY_USER=privacybox
PROXY_PASS=secret

# Log settings
LOG_MAX_SIZE=10m
LOG_MAX_FILE=3
