version: '3'

networks:
  proxy:
    name: proxy
    external: true

volumes:
  dillinger-config:
    driver: local
    driver_opts:
      type: none
      o: bind
      device: ${DOCKER_ROOT}/dillinger/config

services:
  dillinger:
    container_name: dillinger
    image: ghcr.io/linuxserver/dillinger:latest
    security_opt:
      - no-new-privileges:true
    environment:
      - PUID=${PUID}
      - PGID=${PGID}
      - TZ=Europe/Amsterdam
    volumes:
      - dillinger-config:/config
      - /etc/localtime:/etc/localtime:ro
    labels:
      - "traefik.enable=true"
      - "traefik.http.routers.dillinger.middlewares=secured@file"
      - "traefik.http.routers.dillinger-secure.entrypoints=websecure"
      - "traefik.http.routers.dillinger-secure.rule=Host(`${SUBDOMAIN}.${DOMAIN}`)"
      - "traefik.http.routers.dillinger-secure.tls=true"
      - "traefik.http.routers.dillinger-secure.tls.certresolver=le-dns"
      - "traefik.http.routers.dillinger-secure.service=dillinger"
      - "traefik.http.services.dillinger.loadbalancer.server.port=8080"
    networks:
      - proxy
    # # Used for SSH remoteForward
    # ports:
    #   - 4006:8080
    restart: unless-stopped