TS_HOSTNAME=home-server
TS_LOGIN_SERVER=https://hs.privacy.box

# Pre-auth key from headscale:
# docker exec -it headscale headscale preauthkeys create --user john --reusable --expiration 24h
#
# Or alternatively use the Headplane UI
TS_AUTHKEY=tskey-REPLACE_ME

# [Optional] leave empty unless this node should advertise a LAN subnet (e.g. 192.168.1.0/24) to the tailnet.
#
# Approve afterwards on the headscale side with:
# docker exec -it headscale headscale nodes route enable -i <route-id>
#
# Or alternatively use the Headplane UI.
TS_ROUTES=

DOCKER_ROOT=/media/storage/docker
