name: gitea

networks:
  proxy:
    name: proxy
    external: true
  internal:
    internal: true

volumes:
  gitea-database:
    driver: local
    driver_opts:
      type: none
      o: bind
      device: ${DOCKER_ROOT}/gitea/database/
  gitea-data:
    driver: local
    driver_opts:
      type: none
      o: bind
      device: ${DOCKER_ROOT}/gitea/data
  gitea-runner-data:
    driver: local
    driver_opts:
      type: none
      o: bind
      device: ${DOCKER_ROOT}/gitea/runner

services:
  gitea-db:
    container_name: gitea-db
    image: postgres:16-alpine
    security_opt:
      - no-new-privileges:true
    networks:
      - internal
    labels:
      - "traefik.enable=false"
    volumes:
      - gitea-database:/var/lib/postgresql/data
      - /etc/localtime:/etc/localtime:ro
    environment:
      - POSTGRES_DB=gitea
      - POSTGRES_USER=gitea
      - POSTGRES_PASSWORD=${DB_USER_PASS}
    shm_size: 1g
    healthcheck:
      test:
        - CMD-SHELL
        - pg_isready
      start_period: 20s
      interval: 10s
    restart: unless-stopped

  gitea-app:
    container_name: gitea-app
    image: gitea/gitea:latest
    security_opt:
      - no-new-privileges:true
    volumes:
      - gitea-data:/data
      - /etc/localtime:/etc/localtime:ro
    depends_on:
      - gitea-db
    environment:
      - ROOT_URL=https://${SUBDOMAIN}.${DOMAIN}
      - DOMAIN=${SUBDOMAIN}.${DOMAIN}
      - PROTOCOL=https
      - USER_UID=${PUID}
      - USER_GID=${PGID}
      - GITEA__database__DB_TYPE=postgres
      - GITEA__database__HOST=gitea-db:5432
      - GITEA__database__NAME=gitea
      - GITEA__database__USER=gitea
      - GITEA__database__PASSWD=${DB_USER_PASS}
      - GITEA__mailer__ENABLED=true
      - GITEA__mailer__FROM=${SMTP_FROM_MAIL}
      - GITEA__mailer__PROTOCOL=${SMTP_PROTOCOL}
      - GITEA__mailer__SMTP_ADDR=${SMTP_HOST}
      - GITEA__mailer__SMTP_PORT=${SMTP_PORT}
      - GITEA__mailer__USER=${SMTP_USER}
      - GITEA__mailer__PASSWD=${SMTP_PASS}
      # Enable Gitea Actions
      - GITEA__actions__ENABLED=true
      - GITEA__actions__DEFAULT_ACTIONS_URL=github
    labels:
      - traefik.enable=true
      - traefik.http.routers.gitea-app-secure.entrypoints=websecure
      - traefik.http.routers.gitea-app-secure.rule=Host(`${SUBDOMAIN}.${DOMAIN}`)
      - traefik.http.routers.gitea-app-secure.tls=true
      - traefik.http.routers.gitea-app-secure.tls.certresolver=${CERT_RESOLVER}
      - traefik.http.routers.gitea-app-secure.service=gitea-app
      - traefik.http.routers.gitea-app-secure.middlewares=https-redirect@file,non-www@file,secure-headers@file,gzip-compress@file
      - traefik.http.services.gitea-app.loadbalancer.server.port=3000
    networks:
      - proxy
      - internal
    ports:
      - "222:22"
    restart: unless-stopped

  gitea-runner:
    container_name: gitea-runner
    image: gitea/act_runner:latest
    security_opt:
      - no-new-privileges:true
    volumes:
      - gitea-runner-data:/data
      - /var/run/docker.sock:/var/run/docker.sock
      - /etc/localtime:/etc/localtime:ro
    depends_on:
      - gitea-app
    environment:
      - GITEA_INSTANCE_URL=http://gitea-app:3000
      - GITEA_RUNNER_REGISTRATION_TOKEN=${GITEA_RUNNER_TOKEN}
      - GITEA_RUNNER_NAME=docker-runner
    networks:
      - internal
    labels:
      - "traefik.enable=false"
    restart: unless-stopped
